body {
  font-family: 'Roboto', sans-serif;
}

.logo,
.logo__footer {
  padding-bottom: 25px;
  /**/

  font-family: ‘Raleway’, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
}
.logo {
  padding-top: 25px;
  padding-right: 93px;
}
.logo-accent--header {
  color: #000;
}
.logo-accent--footer {
  color: var(--first-color);
}

.section {
  padding: 94px 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
